/* #3d5afa : blue */
:root{
  --light-blue: #3d5afa;
  --border: #d8d8d8;
  --light-grey: #f6f7fb;
  --grey: #bebebe;
}

html{
  font-size: 62.5%;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body {
  margin: 0;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: #f6f7fb;
}

body::-webkit-scrollbar {
  width: 0 !important;
  /* display: none;  */
}

/* định dạng khác */
* {
  margin: 0;
  padding: 0;
}
/* ----------icon---------- */
.fa-solid{
  cursor: pointer;
}
/*------------/icon-------- */

.navbar{
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1;
  width: auto;
  height: 10rem;
  /* box-shadow: 0px 3px 5px rgba(12, 12, 12, 0.164); */
  box-shadow: 0px 2px 5px #00000040;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: white;
}
  .left_navbar{
    display: flex;
    align-items: center;
  }
    .logo{
      height: 10rem;
      width: 10rem;
      margin-right: 2rem;
    }
  .right_navbar{
    width: 20rem;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
  }
    .user_name{
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .avatar_user{
      width: 7rem;
      height: 7rem;
      padding-top: 3px;
      border-radius: 50%;
      border: 1px solid grey;
    }
.body{
  display: flex;
  height: 100%;
  /* box-shadow: 0px 2px 5px #00000040 inset; */
  /* background-color: #f6f7fb; */
}

/*------------------- menulist start----------------*/
  .menu_list{
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 6rem;
    height: 100%;
  }
  .menu_item{
    height: 4rem;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu_item:hover{
    background-color: #dfe8f9;
  }
    .fa-house,.fa-user-plus,.fa-unlock, .fa-right-from-bracket{
      font-size: 2.2rem;
      color: #3d5afa;
      margin: 0.5rem auto;
    }
/* ----------------patient info------------ */
  .main_body{
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .header{
    margin: 3rem 2rem;
    height: 6rem;
    display: flex;
    background-color: #bebebe;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 2rem;
  }
   .header_item{
    font-weight: 600;
   }
   .flex2{
    flex: 2;
   }
   .flex3{
    flex: 3;
   }
   .flex4{
    flex: 4;
   }
  .patient_list{
    margin: 0px 20px;
    display: flex;
    flex-direction: column-reverse;
  }
   .patient_box{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
   }
   .patient_info{
    display: flex;
    background-color: white;
    border: 1px solid #d8d8d8;
    height: 6rem;
    width: auto;
    padding-left: 2rem;
    color: black;
    border-radius: 1rem;
    align-items: center;
   }
   /* .patient_info:hover{
    background-color: #3d59faae;
   } */
    .patient_item{
      margin: auto 0rem;
    }
    .expand{
      display: flex;
      flex-direction: row-reverse;
      font-size: 1.6rem;
    }
    .expand .fa-solid{
      margin-right: 1.4rem;
      font-size: 1.8rem;
    }
    .expand .fa-circle-xmark{
      color: rgb(255, 92, 92);
    }
    .patient_care{
      display: none;
      justify-content: space-evenly;
      padding: 3rem 0;
      background-color: white;
      border: #d8d8d8 1px solid;
      border-top: 0px;
      margin: 0 1.2rem;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .expand_active .patient_care{
      display: flex;
    }
    .expand_active .patient_info{
      background-color: #3d5afa;
      color: white;
    }
    .care_value{
      display: flex;
      flex-direction: column;
      width: 230px;
      height: 300px;
      /* border: #d8d8d8 1px solid; */
      box-shadow: 0px 0px 3px 1px #00000040;
      border-radius: 5%;
      /* padding: 10px; */
      background-color: azure;
      /* margin: 1rem; */
    }
    .average{
      height: 100%;
      font-size: 1.7rem;
      margin: 0 1.5rem;
      border-top: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .average p{
      font-size: 3rem;
      font-weight: bolder;
      color: #3d5afa;
    }

  /* ----------------------confirm delete----------------- */
  #confirm_del{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    /* right: 0; */
    /* left: 0; */
    display: none;
    background-color: #84848475;
  }
  #warning{
    height: 40rem;
    width: 40rem;
    font-size: 20px;
    text-align: center;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top:calc(50vh - 20rem);
    border-radius: 5%;
  }
  #warning div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  #warning div button{
    width: 8rem;
    height: 3rem;
    text-align: center;
  }
  #delete{
    background-color: #3d5afa;
  }